/* 
    Created on : Jul 29, 2016, 3:46:48 PM
    Author     : RAFIS-FRED
*/
/*------------------------- Roboto Font Family --------------------------------*/
@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Roboto Medium';
    src: url('Roboto-Medium.ttf');
}
@font-face {
    font-family: 'Roboto Bold';
    src: url('Roboto-Bold.ttf');
}
*{
    -on-going-color: #1de9b6;
    -postponed-color: #cccccc;
    -terminated-color: #55676e;
    -finished-color: #ec407a;
    -button-primary-color: #ec407a;
    -button-primary-color-dark: #c43766;
}
/*---------------------- Style Global -----------------------*/
.root{
    -fx-font-size: 13;
    -fx-font-family: "Roboto";
    -fx-base: white;
    -fx-background: #eef0f1;
}
/*----------------------- Style All TextField---------------------------------*/
.text-field{
    -fx-background-color: #afafaf, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 4;
    -fx-prompt-text-fill: #afafaf;
}
/*-----------------------Style All ComboBox------------------------------------*/
.combo-box{
    -fx-background-color: #afafaf, white;
    -fx-background-insets: 0, 1;
}
.combo-box > .list-view, .combo-box > .list-cell:selected:filled, .combo-box .text{
    -fx-text-fill: #576a78;
}
/*------------------------Style All DatePicker-------------------------------*/
.date-picker{
    -fx-background-color: transparent;
}
.date-picker .text-field{
    -fx-background-color: #afafaf, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 8 0 0 8;
}
.date-picker .arrow-button{
    -fx-background-color: #546e7a;
    -fx-background-insets: 0;
    -fx-background-radius: 0 8 8 0;
}
.date-picker .arrow-button .arrow{
    -fx-background-color: white;
}
/*-----------------------------Style All Button----------------------------*/
.button{
    -fx-text-fill: #576a78;
}
/*-----------------------------Style Cancel Button----------------------------*/
.cancel-button{
    -fx-background-color: #ff5252;
    -fx-text-fill: white;
}
.cancel-button:hover{
    -fx-background-color: #ff8a80;
}
.cancel-button:pressed{
    -fx-background-color: #d32f2f;
}
/*------------------------------ Style OK Button -----------------------------*/
.ok-button{
    -fx-background-color: #546e7a;
    -fx-text-fill: white;
}
.ok-button:hover{
    -fx-background-color: #78909c;
}
.ok-button:pressed{
    -fx-background-color: #37474f;
}
/*------------------------------ Style Default Button -----------------------------*/
.default-button{
    -fx-background-color: #546e7a;
    -fx-text-fill: white;
}
.default-button:hover{
    -fx-background-color: #78909c;
}
.default-button:pressed{
    -fx-background-color: #37474f;
}
/*---------------------------- Style All Labels ------------------------------*/
.label{
    -fx-text-fill: #838383;
}
/*---------------------------- Style All TableView ---------------------------*/
/*.table-view{
    -fx-background-color: white;
}
.table-view:focused{
    -fx-background-color: white;
    -fx-background-insets: 1;
}
*/.table-view > .nested-column-header > .table-column > .label {
    -fx-text-fill: #838383;
    -fx-background-color: transparent;
}
/*-------------------------------- Style All ToggleButton- --------------------*/
.toggle-button {
    -fx-text-fill:#576a78;
}
.title-bar{
    -fx-background-color: #dbdbdb,#ffffff,
        linear-gradient(#ffffff, #eef0f2);
    -fx-background-insets: 0, 1 0 1 0, 2 0 2 0;
}
.title-bar-text{
    -fx-text-fill: #576a78;
}
.toggle-view-left{
    -fx-background-radius: 4 0 0 4;
}
.toggle-view-right{
    -fx-background-radius: 0 4 4 0;
}
/*******************************************************************************/

/*MAIN UI STYLES*/
.indicator{
    -fx-background-color: #ff5252;
}
.card{
    -fx-background-color: white;
    -fx-effect:dropshadow(gaussian, rgba(0, 0, 0, 0.4), 3, 0, 1, 1);
}
.card-title{
    -fx-text-fill: #576a78;
    -fx-font-size: 14;
}
.card-button{
    -fx-background-color: transparent;
    -fx-background-repeat:no-repeat;
    -fx-background-position: left center;
    -fx-alignment: CENTER_LEFT;
    -fx-background-size: 22;
}
.card-button .text{
    -fx-translate-x: 18;
}
.card-add-button{
    -fx-background-image: url(../images/add-round.png);
}
.card-edit-button{
    -fx-background-image: url(../images/edit-dark.png);
}
.sidebar{
    -fx-background-color: #263238;
}
.sidebar-header{
    -fx-background-color: #ff6b6b;
    -fx-text-fill: white;
    -fx-font-weight: bold;
}
.searchbar{
    -fx-background-color: #afafaf, white;
    -fx-background-insets: 0, 1;
    -fx-background-radius: 8;
}
.searchbar .text-field{
    -fx-background-color: transparent;
    -fx-text-fill: #576a78;
}
.searchbar .button{
    -fx-background-color: transparent;
    -fx-background-image: url(../images/search-default.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.searchbar .button:hover{
    -fx-background-image: url(../images/search-active.png);
}
.toolbar{
    -fx-background-color: #454e55;
}

/* Main UI Sidebar Options */
.username-label {
    -fx-text-fill: #78909c;
}

.option{
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
    -fx-alignment: center;
    -fx-background-position: center 24;
    -fx-background-radius: 0, 0, 0, 0;
    -fx-border-color: transparent;
    -fx-text-fill: #55676e;
    -fx-font-size: 16;
}
.option .text{
    -fx-translate-y: 14;
}
.option:selected{
    -fx-background-color: #2e3c42;
    -fx-text-fill: rgba(255, 255, 255, 0.9);
}
.option-tab{
    -fx-background-color: transparent;
    -fx-background-radius: 0;
    -fx-text-fill: #55676e;
    -fx-font-size: 14;
}
.option-tab:selected{
    -fx-background-color: rgba(0, 0, 0, 0.1);
}
/*DASH OPTION*/
.dash-option{
    -fx-background-image: url(../images/dash-default.png);
}.dash-option:selected{
    -fx-background-image: url(../images/dash-active.png);
}

/*PROJECTS OPTION*/
.projects-option{
    -fx-background-image: url(../images/projects-default.png);
}.projects-option:selected{
    -fx-background-image: url(../images/projects-active.png);
}

/*REPORTS OPTION*/
.reports-option{
    -fx-background-image: url(../images/reports-default.png);
}.reports-option:selected{
    -fx-background-image: url(../images/reports-active.png);
}

/*SETTINGS OPTION*/
.settings-option{
    -fx-background-image: url(../images/settings-default.png);
}.settings-option:selected{
    -fx-background-image: url(../images/settings-active.png);
}

/******************************************************************************/

/*DASHBOARD SCREEN*/
.count-label{
    -fx-font-size: 42;
    -fx-text-fill: #263238;
}
.count-subtitle-label{
/*    -fx-font-family: "Roboto";
    -fx-font-size: 14;*/
}
.stat-label{
    -fx-text-fill: #78909c;
}

/******************************************************************************/

/*PROJECTS SCREEN*/
.icon-button .text{
    -fx-translate-x: 4;
}
.add-button{
    -fx-background-image: url(../images/add.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16;
    -fx-background-position: 8 center;
}
.edit-button{
    -fx-background-image: url(../images/edit.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16;
    -fx-background-position: 8 center;
}
.delete-button{
    -fx-background-image: url(../images/delete.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16;
    -fx-background-position: 8 center;
}
.view-button{
    -fx-background-image: url(../images/view.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 16;
    -fx-background-position: 8 center;
}
.projects-bg{
    -fx-background-color: #cccccc;
}
.menu-panel{
    -fx-background-color: white;
}
.table{
    -fx-background-color: white;
    -fx-background-radius: 4px;
}

.icon-svg{
    -fx-fill: black;
}

/*table columns*/
.project-name-col{
    
}

.project-location-col{
    
}

.project-started-col{
    -fx-alignment: center;
}

.project-to-finish-col{
    -fx-alignment: center;
}

.project-status-col{
    
}

.form-check{
    -fx-background-image: url(../images/check.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}

.form-error{
    -fx-background-image: url(../images/close.png);
    -fx-background-repeat: no-repeat;
    -fx-background-position: right;
}
.project-indicator {
    -fx-fill: -on-going-color;
}
.label-big{
    -fx-text-fill: #55676e;
    -fx-font-size: 14;
    -fx-font-weight: bold;
}
.label-big-regular{
    -fx-text-fill: #90a4ae;
    /*-fx-font-family: "Roboto";*/
    -fx-font-size: 14;
}
.label-details-main{
    -fx-text-fill: black;
    -fx-font-family: "Roboto";
    -fx-font-size: 15;
}
.label-details-sub{
    -fx-text-fill: #78909c;
    -fx-font-family: "Roboto";
    /*-fx-font-size: 14;*/
}
.label-icon-location{
    -fx-background-image: url(../images/location-icon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24;
}
.label-icon-contact{
    -fx-background-image: url(../images/contact-icon.png);
    -fx-background-repeat: no-repeat;
    -fx-background-size: 24;
}
.attachment-button{
    -fx-background-color: transparent;
}